.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 20px 0; */
    min-height: 300px;
    flex-direction: column;
    text-align: center;
} 

#dpic {
    margin-right: 20px; /* Space between image and text */
}

.ppic {
    width: 310px; /* Adjust size as needed */
    border-radius: 50%; /* Optional: makes the image circular */
    /* position: relative; */
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

/* img{
    border-radius: 50%;
    border: 25 px solid black;
} */

.hr{
    width: 80%;
    height: 7 px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: 90 px;
    background-color: black;
}

/* h2{
    margin-bottom: 5px;
}

.date{
    margin-top: 0;
} */

.navbar{
    display: flex;
    justify-content: space-between;
    /* align-items: center;
    background-color: #f4f4f4; */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar .brand a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
}

.nav-links a:hover {
    color: #007bff; /* Link hover effect */
}

/* Padding for page content to avoid overlap with the fixed navbar */
.content {
    padding-top: 60px; /* Adjust based on the height of your navbar */
    margin: 20px;
}

.container1{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.timespan{
    grid-column: span 1;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    color: #a29999;
}

.ico{
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #cfcfcf;
    position: relative;
}

.entry-dot {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #cfcfcf;
    border: 2px solid white;
}

.ico img {
    border-radius: 5px;
    width: 100%;
    max-width: 80px;
    margin-left: 10px;
}

.desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: 17px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.nodot{
    list-style-type: none;
    padding-left: 0;
    font-size: 19px;
}

#project.row{
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 30px;
}

@media (max-width: 991px)
{
    #project.row{
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
}



.card{
    grid-column: span 3;
    vertical-align: top;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    padding-bottom: 10px;
}

@media (max-width: 991px)
{
    .card{
        grid-column: span 6;
    }
}

.cdesc{
    height: 30px;
    vertical-align: top;
    margin-bottom: 10px;
    font-size: 15px;
}

.container2{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.ccimg{
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    object-fit: cover;
}